div.index-header {
	height: 12em;
	padding: 2em;
	background-color: #006B00;
	color: #4DFF4D;
}

div.index-header h1 {
	font-weight: 700;	
	color: #FFF;
}

div.index-header p {
	font-size: 1.2em;
	font-weight: 700;
}